---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/rate_limit
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Github-Authentication-Token-Expiration:
      - '2023-11-21 22:38:25 +0000'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1698028584'
      X-Ratelimit-Used:
      - '5'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"resources":{"core":{"limit":5000,"used":5,"remaining":4995,"reset":1698028584},"search":{"limit":30,"used":0,"remaining":30,"reset":1698025295},"graphql":{"limit":5000,"used":0,"remaining":5000,"reset":1698028835},"integration_manifest":{"limit":5000,"used":0,"remaining":5000,"reset":1698028835},"source_import":{"limit":100,"used":0,"remaining":100,"reset":1698025295},"code_scanning_upload":{"limit":1000,"used":0,"remaining":1000,"reset":1698028835},"actions_runner_registration":{"limit":10000,"used":0,"remaining":10000,"reset":1698028835},"scim":{"limit":15000,"used":0,"remaining":15000,"reset":1698028835},"dependency_snapshots":{"limit":100,"used":0,"remaining":100,"reset":1698025295},"audit_log":{"limit":1750,"used":0,"remaining":1750,"reset":1698028835},"code_search":{"limit":10,"used":0,"remaining":10,"reset":1698025295}},"rate":{"limit":5000,"used":5,"remaining":4995,"reset":1698028584}}'
  recorded_at: Mon, 23 Oct 2023 01:42:18 GMT
recorded_with: VCR 6.2.0
