---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e4c394f33683413b99b89f76e2a9b46c28e02c5845c9ab65eb4bd86f76325be9"
      Last-Modified:
      - Mon, 09 Oct 2023 11:27:46 GMT
      Github-Authentication-Token-Expiration:
      - '2023-11-21 22:38:25 +0000'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1698028584'
      X-Ratelimit-Used:
      - '6'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"login":"RomaShKeee","id":11685307,"node_id":"MDQ6VXNlcjExNjg1MzA3","avatar_url":"https://avatars.githubusercontent.com/u/11685307?v=4","gravatar_id":"","url":"https://api.github.com/users/RomaShKeee","html_url":"https://github.com/RomaShKeee","followers_url":"https://api.github.com/users/RomaShKeee/followers","following_url":"https://api.github.com/users/RomaShKeee/following{/other_user}","gists_url":"https://api.github.com/users/RomaShKeee/gists{/gist_id}","starred_url":"https://api.github.com/users/RomaShKeee/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/RomaShKeee/subscriptions","organizations_url":"https://api.github.com/users/RomaShKeee/orgs","repos_url":"https://api.github.com/users/RomaShKeee/repos","events_url":"https://api.github.com/users/RomaShKeee/events{/privacy}","received_events_url":"https://api.github.com/users/RomaShKeee/received_events","type":"User","site_admin":false,"name":"Roman
        Andreev","company":"Freelancer","blog":"","location":"Germany","email":null,"hireable":true,"bio":null,"twitter_username":null,"public_repos":19,"public_gists":2,"followers":6,"following":26,"created_at":"2015-03-27T19:31:04Z","updated_at":"2023-10-09T11:27:46Z"}'
  recorded_at: Mon, 23 Oct 2023 01:43:04 GMT
recorded_with: VCR 6.2.0
