---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/repositories?page=1&per_page=10&q=roda
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Github-Authentication-Token-Expiration:
      - '2023-11-21 22:38:25 +0000'
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/search/repositories?page=2&per_page=10&q=roda>; rel="next",
        <https://api.github.com/search/repositories?page=100&per_page=10&q=roda>;
        rel="last"
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1698025746'
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Resource:
      - search
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":2903,"incomplete_results":false,"items":[{"id":40607511,"node_id":"MDEwOlJlcG9zaXRvcnk0MDYwNzUxMQ==","name":"rodauth","full_name":"jeremyevans/rodauth","private":false,"owner":{"login":"jeremyevans","id":3846,"node_id":"MDQ6VXNlcjM4NDY=","avatar_url":"https://avatars.githubusercontent.com/u/3846?v=4","gravatar_id":"","url":"https://api.github.com/users/jeremyevans","html_url":"https://github.com/jeremyevans","followers_url":"https://api.github.com/users/jeremyevans/followers","following_url":"https://api.github.com/users/jeremyevans/following{/other_user}","gists_url":"https://api.github.com/users/jeremyevans/gists{/gist_id}","starred_url":"https://api.github.com/users/jeremyevans/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jeremyevans/subscriptions","organizations_url":"https://api.github.com/users/jeremyevans/orgs","repos_url":"https://api.github.com/users/jeremyevans/repos","events_url":"https://api.github.com/users/jeremyevans/events{/privacy}","received_events_url":"https://api.github.com/users/jeremyevans/received_events","type":"User","site_admin":false},"html_url":"https://github.com/jeremyevans/rodauth","description":"Ruby''s
        Most Advanced Authentication Framework","fork":false,"url":"https://api.github.com/repos/jeremyevans/rodauth","forks_url":"https://api.github.com/repos/jeremyevans/rodauth/forks","keys_url":"https://api.github.com/repos/jeremyevans/rodauth/keys{/key_id}","collaborators_url":"https://api.github.com/repos/jeremyevans/rodauth/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/jeremyevans/rodauth/teams","hooks_url":"https://api.github.com/repos/jeremyevans/rodauth/hooks","issue_events_url":"https://api.github.com/repos/jeremyevans/rodauth/issues/events{/number}","events_url":"https://api.github.com/repos/jeremyevans/rodauth/events","assignees_url":"https://api.github.com/repos/jeremyevans/rodauth/assignees{/user}","branches_url":"https://api.github.com/repos/jeremyevans/rodauth/branches{/branch}","tags_url":"https://api.github.com/repos/jeremyevans/rodauth/tags","blobs_url":"https://api.github.com/repos/jeremyevans/rodauth/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/jeremyevans/rodauth/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/jeremyevans/rodauth/git/refs{/sha}","trees_url":"https://api.github.com/repos/jeremyevans/rodauth/git/trees{/sha}","statuses_url":"https://api.github.com/repos/jeremyevans/rodauth/statuses/{sha}","languages_url":"https://api.github.com/repos/jeremyevans/rodauth/languages","stargazers_url":"https://api.github.com/repos/jeremyevans/rodauth/stargazers","contributors_url":"https://api.github.com/repos/jeremyevans/rodauth/contributors","subscribers_url":"https://api.github.com/repos/jeremyevans/rodauth/subscribers","subscription_url":"https://api.github.com/repos/jeremyevans/rodauth/subscription","commits_url":"https://api.github.com/repos/jeremyevans/rodauth/commits{/sha}","git_commits_url":"https://api.github.com/repos/jeremyevans/rodauth/git/commits{/sha}","comments_url":"https://api.github.com/repos/jeremyevans/rodauth/comments{/number}","issue_comment_url":"https://api.github.com/repos/jeremyevans/rodauth/issues/comments{/number}","contents_url":"https://api.github.com/repos/jeremyevans/rodauth/contents/{+path}","compare_url":"https://api.github.com/repos/jeremyevans/rodauth/compare/{base}...{head}","merges_url":"https://api.github.com/repos/jeremyevans/rodauth/merges","archive_url":"https://api.github.com/repos/jeremyevans/rodauth/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/jeremyevans/rodauth/downloads","issues_url":"https://api.github.com/repos/jeremyevans/rodauth/issues{/number}","pulls_url":"https://api.github.com/repos/jeremyevans/rodauth/pulls{/number}","milestones_url":"https://api.github.com/repos/jeremyevans/rodauth/milestones{/number}","notifications_url":"https://api.github.com/repos/jeremyevans/rodauth/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/jeremyevans/rodauth/labels{/name}","releases_url":"https://api.github.com/repos/jeremyevans/rodauth/releases{/id}","deployments_url":"https://api.github.com/repos/jeremyevans/rodauth/deployments","created_at":"2015-08-12T15:11:41Z","updated_at":"2023-10-20T06:59:57Z","pushed_at":"2023-10-22T16:19:45Z","git_url":"git://github.com/jeremyevans/rodauth.git","ssh_url":"git@github.com:jeremyevans/rodauth.git","clone_url":"https://github.com/jeremyevans/rodauth.git","svn_url":"https://github.com/jeremyevans/rodauth","homepage":"http://rodauth.jeremyevans.net","size":4371,"stargazers_count":1537,"watchers_count":1537,"language":"Ruby","has_issues":true,"has_projects":false,"has_downloads":true,"has_wiki":false,"has_pages":true,"has_discussions":true,"forks_count":85,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":1,"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":85,"open_issues":1,"watchers":1537,"default_branch":"master","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":true},"score":1.0},{"id":41522637,"node_id":"MDEwOlJlcG9zaXRvcnk0MTUyMjYzNw==","name":"rodal","full_name":"chenjiahan/rodal","private":false,"owner":{"login":"chenjiahan","id":7237365,"node_id":"MDQ6VXNlcjcyMzczNjU=","avatar_url":"https://avatars.githubusercontent.com/u/7237365?v=4","gravatar_id":"","url":"https://api.github.com/users/chenjiahan","html_url":"https://github.com/chenjiahan","followers_url":"https://api.github.com/users/chenjiahan/followers","following_url":"https://api.github.com/users/chenjiah[...]
